<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnnu.common.dao.GymCommentBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mnnu.common.entity.domain.GymCommentDO">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="root_id" property="rootId" />
        <result column="stadium_id" property="stadiumId" />
        <result column="venue_id" property="venueId" />
        <result column="order_id" property="orderId" />
        <result column="pic_arr" property="picArr" />
        <result column="point" property="point" />
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, root_id, stadium_id, venue_id, order_id, pic_arr, `point`, user_id, username, deleted, create_time
    </sql>

</mapper>
