<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnnu.common.dao.GymVenueBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mnnu.common.entity.domain.GymVenueDO">
        <id column="id" property="id" />
        <result column="stadium_id" property="stadiumId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="limit_count" property="limitCount" />
        <result column="date_arr" property="dateArr" />
        <result column="time_arr" property="timeArr" />
        <result column="weekend_arr" property="weekendArr" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stadium_id, `type`, `name`, price, limit_count, date_arr, time_arr, weekend_arr, `status`, deleted, create_time, update_time
    </sql>

</mapper>
